/* styles.css */
.coming-soon-text {
    font-size: 24px;
    margin-top: 20px;
}

body {
    background-color: #000;
    background-size: cover;
    min-height: 100vh;
  }

/* -------------------- NAVBAR CSS - GLOBAL - -------------------- */

.navbar {
    transition: all 0.4s;
  }
  
  .navbar-nav a {
    font-family: 'Playfair Display', serif;
  }
  
  .navbar .nav-link {
    color: #fff;
  }
  
  .navbar .nav-link:hover,
  .navbar .nav-link:focus {
    color: #0ef3ff;
    text-decoration: none;
  }
  
  .navbar .navbar-brand {
    color: #0ef3ff;
  }
  
  /* Change navbar styling on scroll */
  .navbar.active {
    background: #0E141B;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .navbar.active .nav-link {
    color: #fff;
  }
  
  .navbar.active .nav-link:hover,
  .navbar.active .nav-link:focus {
    color: #0ef3ff;
    text-decoration: none;
  }
  
  .navbar.active .navbar-brand {
    color: #0ef3ff;
  }
  
  /* Change navbar styling on small viewports */
  @media (max-width: 990px) {
    .navbar {
      background: #0E141B;
    }
  
    .navbar .navbar-brand,
    .navbar .nav-link {
      color: #fff;
    }
  }